biobb_wf_godmd/notebooks/log*.*
.ipynb_checkpoints/
biobb_wf_godmd/notebooks/*.png
biobb_wf_godmd/notebooks/*.gif
biobb_wf_godmd/notebooks/*.pdb
biobb_wf_godmd/notebooks/*.aln
biobb_wf_godmd/notebooks/*.dcd
biobb_wf_godmd/notebooks/*.out
biobb_wf_godmd/notebooks/*.log
biobb_wf_godmd/notebooks/*.mdcrd
biobb_wf_godmd/notebooks/*.xtc*
biobb_wf_godmd/notebooks/*.web.ipynb
biobb_wf_godmd/notebooks/*.docs.ipynb
biobb_wf_godmd/docs/notebooks/
biobb_wf_godmd/html/biobb_wf_godmd.web.ipynb
.DS_Store
guidelines.md